doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="https://unpkg.com/mvp.css")

    title Zoom

  body 
    header 
      h1 Zoom
      
    main
      
    script(src="/socket.io/socket.io.js") 
    script(src="/public/script/client.js") 